<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10">
    <title>Covid19 - Anti Fake News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!--<script type="text/javascript">   
       function Redirect() {  window.location="/"; }  
       setTimeout('Redirect()', 80000);   
    </script>-->
  <style>
    figure {
      border: 6px transparent solid;
      padding: 4px;
      margin: auto;
    }
    figcaption {
      background-color: transparent;
      color: transparent;
      font-style: italic;
      padding: 2px;
      text-align: center;
    }
  </style>
</head>

<body>
   <!-- 
         este comentario
         hace que la pag
         se actualize 
         automaticamente
 
  <script type="text/javascript">   
    function Redirect() {  window.location="/"; }  
    setTimeout('Redirect()', 5000);   
  </script>
  -->

    <section class="hero is-white">
      <div class="hero-body">
        <div class="container">

          <h1 class="title is-size-2">
            Covid19 - Interpretacion incorrecta de los datos 
          </h1>

          <h2 class="subtitle is-size-4">
            generador infinito de noticias falsas a partir de los <a href="https://sisa.msal.gov.ar/sisa/">datos del gobierno</a>
          </h2>

          <p class="is-small">
           <b>{{upper_desc}}</b>
          </p>

          <figure class= "image is-3by1">
            <!-- esta imagen va a cambiar constantemente
                 El fondo no necesariamente va a ser blanco!
                 Va a ser el que el diseñador quiera!!! -->
            <img src="static/{{image}}.png" alt="Grafico cientifico"> 
          </figure>

        </div>
      </div>
    </section>

    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle is-size-3"> 
            <center>
            <b>
           TITULO AMARILLISTA
            </b>
            </center>
          </h2>
          <h2 class="subtitle is-size-5"> 
            <center>
            {{fake_news}}
            </center>
          </h2>
        </div>
      </div>
    </section>

    <section class="hero is-white">
      <div class="hero-body">
        <div class="container">
        <!-- Para las siguientes imagenes, quizas es una buena idea cambiarles el fondo blanco 
             por el fondo color "crema" que es "hsl(0, 0%, 21%)" segun CSS-Bulma "is-light" -->  
        <figure class= "">
          <img src="static/cuidados.png" alt="Como prevenir el coronavirus">
        </div>
      </div>
    </section>

    <section class="hero is-primary">
      <div class="hero-body">
           <p>
           <center>
           <b>
            Powered by ?
           </b>
           </center>
           </p>
      </div>
    </section>


  </body>
</html>
